    <div class="footer">
      <div class="footer-container">
        <h3>JAMstackCMS is hosted and maintained by <a href="https://www.netlify.com">Netlify</a>, the perfect way to deploy your static sites and apps.</h3>
      </div>
      <div class="postscript">
        JAMstackCMS is hosted on <a href="https://www.netlify.com">Netlify</a>.<br>
        © Netlify 2017
      </div>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.flot.js"></script>
    <script src="/js/jquery.flot.time.js"></script>
    <script src="/js/jquery.isotope.js"></script>
    <script src="/js/jquery.pin.js"></script>
    <script src="/js/jquery.matchHeight.js"></script>
    <script src="/js/share.js"></script>
    <script src="/js/all.js"></script>
  </body>
</html>
