<div class="navbar">
  <div class="container">
    <div class="menu">
      <ul>
        <li><a href="https://jamstack.org/">What is JAMstack?</a></li>
        <li><a href="/about.html">About JAMstackCMS</a></li>
        <li><a href="/rules.html">The Rules</a></li>
      </ul>
    </div>
  </div>
</div>
