{{ partial "head" . }}
<div class="main landing">
  <div class="projects-sort-filter-toolbar">
    <div class="projects-filters">
      <div>Filter:</div>
      <div class="dropdown">
        <select name="filter-by-type" class="dropdown-select">
          <option value="" selected>Any CMS Type</option>
          {{ if $.Site.Data.projects }}
          {{ range .Site.Data.projects.typesofcms }}
          <option value="{{ . | urlize }}">{{ . }}</option>
          {{ end }}
          {{ end }}
        </select>
      </div>
      <div class="dropdown">
        <select name="filter-by-generator" class="dropdown-select">
          <option value="" selected>Any SSG</option>
          {{ if $.Site.Data.projects }}
          {{ range $.Site.Data.projects.generators }}
          <option value="{{ . | urlize }}">{{ . }}</option>
          {{ end }}
          {{ end }}
        </select>
      </div>
      <div class="dropdown">
        <select name="filter-by-open-source" class="dropdown-select">
          <option value="">Any license</option>
          <option value="yes">Open source</option>
          <option value="no">Closed source</option>
        </select>
      </div>
    </div>
    <div class="projects-sort">
      <div>Sort:</div>
      <div class="dropdown">
        <select name="sort" class="dropdown-select">
          <option value="title">Title</option>
          <option value="stars" selected>Stars</option>
          <option value="followers">Followers</option>
        </select>
      </div>
    </div>
  </div>
  <ul class="projects">
    {{ range $index, $id := where .Site.Pages.ByTitle "Section" "projects" }}
      {{ if ne .Title "Projects" }}
        <li
          class="project {{ .Title | urlize }}"
          data-typeofcms="{{ .Params.typeofcms | urlize }}"
          data-opensource="{{ .Params.opensource | urlize }}"
          data-supportedgenerators="{{ delimit .Params.supportedgenerators "," }}"
          data-title="{{ .Title }}"
          {{ if $.Site.Data.projects }}
            data-stars="{{ (index .Site.Data.projects.projects .Title).stars  }}"
            data-followers="{{ (index .Site.Data.projects.projects .Title).followers }}"
          {{ end }}
        >
          <a href="{{ .Permalink }}" class="card">
            {{ if eq (lower .Params.opensource) "yes" }}
              <div class="tag">open source</div>
            {{ else }}
              <div class="tag proprietary"></div>
            {{ end }}
            {{ if .Params.images }}
              <img class="photos-inside" src="/images/photos.svg">
            {{ end }}
            <h4 class="title">{{ .Title }}</h4>
            <h6 class="url">{{ .Params.homepage }}</h6>
            {{ if $.Site.Data.projects }}
              {{ if gt (index .Site.Data.projects.projects .Title).followers 0 }}
                <div>{{ (index $.Site.Data.projects.projects .Title).followers }} followers</div>
              {{ end }}
              {{ if gt (index .Site.Data.projects.projects .Title).stars 0 }}
                <div>{{ (index $.Site.Data.projects.projects .Title).stars }} stars</div>
              {{ end }}
            {{ end }}
            <div class="description">{{ .Params.description }}</div>
            <h7>Type:</h7>
            <p class="type">
              {{ if .Params.typeofcms }}
                {{ .Params.typeofcms }}
              {{ else }}
                Unknown
              {{ end }}
            </p>
            <h7>Supported Site Generators:</h7>
            <ul>
              {{ range .Params.supportedgenerators }}
                <li>{{ . }}</li>
              {{ end }}
            </ul>
          </a>
        </li>
        {{ if eq $index 2 }}
          <li id="staticgen-promo" class="project staticgen-promo">
            <h3>Also visit <a href="https://www.staticgen.com" target="_blank">staticgen.com</a> for a ranked list of open-source site generators!</h3>
          </li>
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>
</div>
{{ partial "footer" . }}
